@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SatoshiRegular";
  src: url("../../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.ttf")
}

@font-face {
  font-family: "SatoshiBold";
  src: url("../../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.ttf")
}

p, h1 {
  font-family: 'SatoshiRegular', sans-serif;
}

h2 {
  font-family: 'SatoshiBold', sans-serif;
}