@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SatoshiRegular";
  src: url("../../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.ttf")
}

@font-face {
  font-family: "SatoshiBold";
  src: url("../../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.ttf")
}

body {
  overflow-x: hidden;
}

p, h1 {
  font-family: 'SatoshiRegular', sans-serif;
}

h2 {
  font-family: 'SatoshiBold', sans-serif;
}

.img-sus {
  @apply group-hover:scale-125 absolute w-full h-full object-contain rounded-2xl transition-all duration-500 ease-in-out transform;
}

.img-text {
  @apply absolute text-5xl group-hover:scale-105 transition-all duration-500 ease-in-out transform;
}

.img-shop {
  @apply absolute w-full h-full object-contain;
}